{% extends "catalog/base_generic.html" %}

{% block content %}
<h3>Register</h3>
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" name="create user">
</form>

<div>
    <p>Already Have An Account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p style="color:red;">There were some errors in the information you entered. Please correct the following:</p>
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}
{% endblock %}