{% extends "catalog/base_generic.html" %}

{% block content %}
<h1>All books on Loan</h1>
{% if bookinstance_list %}
<ul>
    {% for books in bookinstance_list %}
    <li><a href="{{ books.book.get_absolute_url }}">{{ books.book }}</a></li>
    <p><strong>Borrowed by: </strong>{{ books.borrower|title }}</p>
    <p><strong>Due on: </strong>{{ books.due_back }}</p>
    {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}
    {% endfor %}
</ul>
    {% else %}
    <p>No book is borrowed </p>
{% endif %}


{% endblock %}